html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar-nav .active, .nav-item a:hover 
{
  color: #FF9100 !important;
  height: 33px;
  border-bottom: 1px solid #FF9100;
}

.card:last-child a[href*="posts"] {
  border:0 !important
}
.form-control:focus {
  box-shadow: none;
}